body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand", sans-serif;
}

.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* Since defaults to render components as flex-direction: row, flex-wrap: nowrap, makes it so sidebar is displayed to left of map */
  display: flex;
}

/* BURGER MENU/MOBILE SIDEBAR STYLING (react-burger-menu) */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  bottom: 40px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #4a4c53;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 26px;
  width: 26px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* SIDEBAR */

.sidebar {
  width: 25%;
  overflow-y: scroll;
}

/* App name */
.header {
  margin: 0.7em 0.7em 0.25em 0.7em;
  line-height: 1.5;
  font-size: 26px;
  letter-spacing: 4px;
  color: #75b8c8;
  cursor: default;
}

/* Without this, a blue line appears on click */
.header:focus {
  outline-width: 0;
}

.search {
  /* Note: rem values are relative to the root html element, not the parent element. 1rem typically = 16px in browsers */
  height: 3rem;
  font-size: 1.1rem;
  padding: 10px 10px 10px 15px;
  border-radius: 0.5rem;
  border: 1px solid #dcdcdc;
  width: 90%;
  margin: 0.7em 0 1em;
  /* Control animation speed for shadow that appears on focus */
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  color: #cecece;
}

.search:focus, .search:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

.venues-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.venues-list-item {
  border-radius: 0.5rem;
  line-height: 1.7;
  border-left: #07a0c3 solid 1.3rem;
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin: 1em 1em 1.4em 1em;
  /* Control animation speed for shadow that appears on hover */
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.venues-list-item:hover, .venues-list-item:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

/* INFO WINDOW */

.venue-name {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #75b8c8;
  margin: 0.5em auto 1em auto;
  max-width: 95%;
}

/* "Powered by Foursquare" text */
.attribution {
  color: #c2c2c2;
}

/* Special styling for phones and tablets */
@media screen and (max-width: 991px) {
  .header {
    margin: 0.5em;
    font-size: 1.5em;
  }

  .sidebar {
    width: 100%;
    outline: 0;
  }

  .map-container {
    /* Need important because styles in map.js would otherwise override these (they're more specific) */
    width: 100% !important;
    height: 100% !important;
  }
}
